{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dataStyle.css' %}">
    <title>Document</title>
</head>
<body>
    <header class = "header">
        <div class="header__container">
            <div class="header__container__inner">
                <div class="header__container__logo">
                    <a href="{% url 'index' %}"><img src="{% static 'Images/Header/Logo.png'%}"></a>

                </div>
                <nav class= "navbar">
                    <a class = "navbar__links" href="/price">Цены</a>
                    <a class = "navbar__links" href="/about">Особенности</a>
                    <a class = "navbar__links" href="/login">Авторизация</a>
                </nav>
                <div class="button">
                    <a class = "button__link" href="/register">Регистрация</a>
                </div>
            </div>
        </div>
    </header>  

    <div class="intro">
        <div class="intro__container">
            <div class="intro__container__inner">
                <div class="intro__title">
                    Сохраняйте данные<br> в нашем облаке
                </div>
                <div class="intro__text">
                    Хранилище данных – это область хранения данных,<br>которая была
                    проверена на безопасность<br> поэтому вы можете хранить свои данные здесь
                    безопасно,<br> без боязни потерять свои данные.
                </div>
                <div class="intro__button">
                    <a class = "button__link-intro"href="/about">Почему мы?</a>
                </div>
            </div>
        </div>
    </div>
{#    <div class="intro__footer">#}
{#        <div class="intro__footer__container">#}
{#            <div class="intro__footer__container__image">#}
{#                <img src="{%  static  'Images/IntroFooter/image2.png'%}" alt="">#}
{#            </div>#}
{##}
{#            <div class="intro__footer__container__info">#}
{#                <div class="intro__footer__container__info-title">#}
{#                    We are a high-level#}
{#                    data<br>#}
{#                    storage bank#}
{#                </div>#}
{#                <div class="intro__footer__container__info-text">#}
{#                    The place to store various data that you can access at any<br> time through the internet#}
{#                    and where you can carry it.<br> #}
{#                    This very flexible storage area has a high level of security.<br>#}
{#                    To enter into your own data #}
{#                    you must enter the password<br> that you created when you registered in this Data<br> Warehouse. #}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#   <div class="features">#}
{#        <div class="features-title">#}
{#                Features#}
{#        </div>#}
{#        <div class="features-subtitle">#}
{#            Some of the features and advantages that we provide for those of you<br>#}
{#            who store data in this Data Warehouse.#}
{#        </div>#}
{#        </div>#}
{#   </div>#}
{#   <div class="features__cards">#}
{#        <div class="features__card__container-f">#}
{#            <div class="features__card-1">#}
{#                <img src="{%  static 'Images/Features/01.png' %} alt="">#}
{#            </div>#}
{#            <div class="features__card-2">#}
{#                <img src="{% static  'Images/Features/2.png'%}" alt="">#}
{#            </div>#}
{#        </div>#}
{#        <div class="features__card__container-s">#}
{#            <div class="features__card-3">#}
{#                <img src="{% static  'Images/Features/3.png'%}" alt="">#}
{#            </div>#}
{#            <div class="features__card-4">#}
{#                <img src="{% static 'Images/Features/4.png'%}" alt="">#}
{#            </div>#}
{#        </div>#}
{#   </div>#}
{#   <div class="footer">#}
{#        <div class="footer__container">#}
{#            <div class="footer__container__inner">#}
{#                <div class = "footer__container__offer-title">#}
{#                    Try for free!#}
{#                </div>#}
{#                <div class = "footer__container__offer-descritption">#}
{#                    Get limited 1 week free try our features!#}
{#                </div>#}
{#                </div>#}
{#            <div class="footer__buttons">#}
{#                <div class="footer__button-1">Learn more</div>#}
{#                <div class="footer__button-2">Request a demo</div>#}
{#            </div>#}
{#       </div>#}
{#       </div>#}
{#</body>#}
{#</html>#}