{% block content %}
  <h2>Создание задачи</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
    {% for message in task  %}
    {{ message }}
    {% endfor %}
  </form>
  <h1>Delete Data</h1>
  <form method="post" action="{% url 'delete_data' %}">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ user_id.id }}">
    <button type="submit">Delete</button>
      {% for message in task  %}
    {{ message }}
    {% endfor %}
  </form>

{% endblock %}