{% extends 'mainApp/html/templates.html' %}
{% load static %}
{% block content %}
<body>
    <header>
        <h2 class = "task__panel-title">Напоминание</h2>
    </header>
    <form method="POST">
        {% csrf_token %}
        <div class = "task__panel">
            <div class = "task__panel__container">
                <form method="post">
                <div class="task__box">
                    {{ form.as_p }}
                    <button type="submit"class="task-input">Отправить</button>
                </div>
                </form>
            </div>
        </div>
        </form>

    <div class = "task__panel__list">
        <div class="task__panel__container-list">
        <div class = "task__list__title">Список сделок</div>
         <form method="post">
         <a href="{% url 'delete_selected' %}">Удалить выбранные элементы</a>
              {% csrf_token %}
               {% for t in task %}
                       <li {% if t.is_overdue %}style="color: red;"{% endif %}>{{ t }}</li>
                    {% endfor %}
          </form>
             <form method="post" action="/money">
              {% csrf_token %}
                <div class = "active__task__btn__container">
                <button type="submit"class="task-btn">Перейти в другой раздел</button>
          </form>
         <form method="post" action="/login">
              {% csrf_token %}
                <div class = "active__task__btn__container">
                <button type="submit"class="task-btn">Перейти в личный кабинет</button>
          </form>

        </div>



{% endblock %}
</body>
</html>