<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CRM.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2 class = "task__panel-title">Панель прикрепления сделок</h2>
    </header>
    <div class = "task__panel">
        <div class = "task__panel__container">
            <form method="post">
            <div class="task__box">
                <input type="text" class = "task-input" placeholder="Введите название сделки">
                <input type="date" class = "task-input" placeholder="Укажите дату сделки">
                <input type="number" class = "task-input" placeholder="Укажите сумму">
                <span id = "button" class = "task-btn">
                    <a>Прикрепить</a>
                </span>
            </div>
            </form>
        </div>
    </div>

    <div class = "task__panel__list">
        <div class="task__panel__container-list">
        <div class = "task__list__title">Список задач</div>
        <div class = "active__task"><input type="checkbox"></div>
        <div class = "active__task"><input type="checkbox"></div>
        <div class = "active__task"><input type="checkbox"></div>
        <div class = "active__task"><input type="checkbox"></div>

        <div class = "active__task__btn__container">
        <div class = "active__task__btn"><a>Снять задачи</a></div>
            <div class = "active__task__btn"><a>Рассчитать доход</a></div>
        
        
    </div>
</body>

</html>