{% extends 'mainApp/html/templates.html' %}
{% block content %}
{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#<link rel="stylesheet" href="{% static 'CRM.css' %}">#}
{#    <title>Document</title>#}
{#</head>#}
{#<body>#}
    <header>
        <h2 class = "task__panel-title">Панель прикрепления сделок</h2>
    </header>
    <form method="POST">
        {% csrf_token %}

        <div class = "task__panel">
            <div class = "task__panel__container">
                <form method="post">
                <div class="task__box">
                    {{ form.message }}
                    {{ form.date_of_add }}
                    {{ form.summa }}
                    <button type="submit"class="task-input">Отправить</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
        </form>

    <div class = "task__panel__list">
        <div class="task__panel__container-list">
        <div class = "task__list__title">Список сделок</div>
              <form method="POST">
            {% csrf_token %}
               {% for message in task  %}
            <div class = "active__task"><input type="checkbox">{{ message }}</div>
            {% endfor %}
          </form>
          <form method="post" action="{% url 'calc' %}">
              {% csrf_token %}
                <div class = "active__task__btn__container">
               <input type="hidden" name="user_id" value="{{ user_id.id }}">
                <button type="submit"class="task-btn">Рассчитать доход</button>
                {{ money }}
          </form>
        <form method="post" action="{% url 'delete' %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id.id }}">
        <button type="submit"class="task-btn">Удалить данные</button>
        </form>
  <form method="post" action="/taskmanager">
              {% csrf_token %}
                <div class = "active__task__btn__container">
                <button type="submit"class="task-btn">Перейти в другой раздел</button>
{% endblock %}
    </div>
</body>

</html>



